.image-with-caption__centering-wrapper {
  text-align: center;
}

.image-with-caption {
  margin-top: $spacing-unit;
}

.image-with-caption__image-block {
  img {
    @include media-query($mobile-breakpoint) {
      padding: 0 8%;
    }
  }
}

.image-with-caption__caption-block {
  @extend .caption;
  font-size: .8rem;
  padding-top: 6px;
  text-align: center;
}
