.image-with-caption__centering-wrapper {
  text-align: center;
}

.image-with-caption {
}

.image-with-caption__image-block {
}

.image-with-caption__caption-block {
  @extend .caption;
  font-size: .8rem;
  padding-top: 6px;
  text-align: center;
}
