---
title: Web 12 Archive
permalink: /web-12-archive/
layout: default
---

<section>
  <header>Old Site Pages:</header>

  <table>
    <tr>
      <th>page</th>
      <th>action</th>
      <th>status</th>
      <th>archive status</th>
    </tr>

    {% for page in site.data.old_sitemap %}
    {% if page.action != "ignore" %}

    {% if page["rewrite_rule"] %}
      {% if page["action"] == "archive" %}{% assign redirect = page["archive_url"] %}
      {% else %}{% assign redirect = page["redirect_url"] %}
      {% endif %}
    {% endif %}

    <tr class={{ page.status }}>
      <td><a href="{{ redirect }}">{{ page.page }}</a></td>
      <td>{{ page.action }}</td>
      <td>{{ page.status }}</td>
      <td>{{ page.archive_status }}</td>
    </tr>
    {% endif %}
    {% endfor %}

  </table>
</section>
