---
layout: default
permalink: /artworks/
title: artworks
nav_page: true
---

<section class="image-index">
  <header>
    <h2>Artworks:</h2>

    {% for artwork in site.artworks %}
      {% if artwork.artist == 'self' %}
        <article class="image-index__article">

          <div class="image-index__image">
            <a href="{{ artwork.url }}">
             <img src="{{ artwork.thumb }}" alt="{{ artwork.title }}">
            </a>
          </div>

          <div class="image-index__description">
            <h2 class="image-index__description-title">
              <a href="{{ artwork.url }}">{{artwork.title}}</a>
            </h2>
            <div class="image-index__description-item">
              {{ artwork.id }}
            </div>
            <div class="image-index__description-item">
              {{ artwork.year_made }}
            </div>
            <div class="image-index__description-text small-text">
              {{ artwork.content | strip_html | truncate: 240, '...' }}
            </div>
          </div>
          <div class="clear"></div>
        </article>

      {% endif %}
    {% endfor %}

  </header>

</section>
