---
layout: default
permalink: /artworks/
title: artworks
nav_page: true
---

<header>
  <h2>Art Indices:</h2>
</header>

<section class="artwork-indices">
  {% for page in site.pages %}
    {% if page.art_index == true and page.sub_index != true %}
      {% include image_index.html page=page %}
    {% endif %}
  {% endfor %}

</section>

<header>
  <h2>Artworks:</h2>
</header>
<section class="image-index">

    {% for artwork in site.artworks %}
      {% if artwork.artist == 'self' %}

        <article class="image-index__article">

          <div class="image-index__image">
            <a href="{{ artwork.url }}">
             <img src="{{ artwork.thumb }}" alt="{{ artwork.title }}">
            </a>
          </div>

          <div class="image-index__description">
            <h2 class="image-index__description-title">
              <a href="{{ artwork.url }}">{{artwork.title}}</a>
            </h2>
            <div class="image-index__description-item">
              {{ artwork.id }}
            </div>
            <div class="image-index__description-item">
              {{ artwork.year_made }}
            </div>
            <div class="image-index__description-text small-text">
              {{ artwork.content | strip_html | truncate: 240, '...' }}
            </div>
          </div>
          <div class="clear"></div>
        </article>

      {% endif %}
    {% endfor %}
</section>
