---
title: Roadmap
permalink: /roadmap/
layout: default
metapage: true
---
<section>
  <header>Remaining Actions</header>
  <ul>
    <li>Add navlinks for page_toki layout</li>
    <li>Add sitelen sitelen fanart from emails</li>
  </ul>
</section>

<section>
  <header>New Site Rebuild Status Page:</header>

  <table>
    <tr>
      <th>page</th>
      <th>action</th>
      <th>status</th>
      <th>archive page</th>
    </tr>

    {% for page in site.data.old_sitemap %}
    {% if page.action != "ignore" and page.action != "archive" %}

      <tr class={{ page.status }}>

        {% if page["redirect_url"] != nil %}
          <td><a href="{{ page.redirect_url }}">{{ page.page }}</a></td>
        {% else %}
          <td><a href="/{{ page.page}}">-- {{ page.page }}</a></td>
        {% endif %}

        <td>{{ page.action }}</td>
        <td>{{ page.status }}</td>

        {% if page.archive_url != nil %}
        <td><a href="{{ page.archive_url }}">>></a></td>
        {% else %}
        <td>none</td>
        {% endif %}
      </tr>

    {% endif %}
    {% endfor %}

  </table>
</section>
