---
layout: default
permalink: /sitemap/
title: sitemap
metapage: true
nav_page: true
---

<section>
  <header>
    <h2>Posts:</h2>
  </header>

  <ul>
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date: "%b %-d, %Y"}} - </span>
      <span><a href="{{ post.url | prepend: site.baseurl}}">{{ post.title}}</a></span>
    </li>
    {% endfor %}
  </ul>

</section>

<section>
  <header>
    <h2>Pages:</h2>
  </header>

  {% include page_list.html %}

</section>

<section>
  <header>
    <h2>Artworks:</h2>
    <ul>
    {% for artwork in site.artworks %}
      <li>
        <a href="{{ artwork.url }}">{{ artwork.id }} - <i>{{ artwork.title }}</i></a>
      </li>
    {% endfor %}
    </ul>
  </header>

</section>
