---
index: false
---

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

{% for page in site.data["old_sitemap"] %}
Redirect 301 {{ page["page"] }} https://www.jonathangabel.com{{ page["redirect_url"] }}
{% endfor %}

RedirectMatch 301 ^/learn/t47/.*$ https://www.jonathangabel.com/toki-pona/
