---
layout: default
title: homepage
---

<div class="home">
  <div>
    <p>Hey! We're starting to get somewhere. Here are the pages related to getting this site up and running:</p>
    {% for page in site.pages %}
    {% if page.metapage == true %}
      <li>
        <span>
          <a href="{{ page.url | prepend : site.baseurl }}">
            {% if page.title == nil %}
                {{ page.url }}
              {% else %}
                {{ page.title }}
            {% endif %}
          </a>
        </span>
      </li>
    {% endif %}
    {% endfor %}
  </div>
</div>
