---
layout: default
permalink: /sitemap/
---

<section>
  <header>Posts:</header>

  <ul>
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date: "%b %-d, %Y"}} - </span>
      <span><a href="{{ post.url | prepend: site.baseurl}}">{{ post.title}}</a></span>
    </li>
    {% endfor %}
  </ul>

</section>

<section>
  <header>Pages:</header>

  <ul>
    {% for page in site.pages %}
    <li>
      <span><a href="{{ page.url | prepend: site.baseurl}}">
        {% if page.title == nil %}
        {{ page.url }}
        {% else %}
        {{ page.title }}
        {% endif %}
      </a></span>
    </li>
    {% endfor %}
  </ul>

</section>
