{% comment %}
For use in a list of pages
Output: Summary of one page with thumbnail image
Parameters:
- page:
    - thumb: square thumbnail image (150 x 150)
    - title: page title
    - excerpt: used for description
    - content: used if no page excerpt truncated to 240 lines

  TODO: If used with posts, could check for excerpt
        before defaulting to truncated content.
  TODO: If tuncation optional, extends use for cv page
{% endcomment %}


{% assign page = include.page %}

{% if page.thumb == nil %}
{% assign thumb = "/images/nav/thumb-web16.png" %}
{% else %}
{% assign thumb = page.thumb %}
{% endif %}

<article class="image-index__article">
  <div class="image-index__image">
    <a href="{{ page.url }}">
     <img src="{{ thumb }}" alt="{{ page.title }}">
    </a>
  </div>
  <div class="image-index__description">
    <h2 class="image-index__description-title">
      <a href="{{ page.url }}">{{page.title}}</a>
    </h2>
    <div class="image-index__description-date">
      {% if page.date != nil %}
        {{ page.date | date: "%B %-d, %Y" }}
      {% else if page.year_made != nil %}
        {{ page.year_made }}
      {% endif %}
    </div>
    <div class="image-index__description-text">
      {% if page.excerpt != nil %}
      {{ page.excerpt }}
      {% else %}
      {{ page.content | strip_html | truncate: 240, '...' }}
      {% endif %}
    </div>
  </div>
</article>
