{% comment %}
Output: image/definition style gallery
Parameters:
- definitions (array):
    - image: image url
    - hover-image: (optional) on-hover image replacement
    - text: definintion text
- grouping: (optional) string for modifying css grouping with .group-by-{{grouping}}
{% endcomment %}

{% assign definitions = include.definitions %}
{% assign grouping = include.grouping %}

<section class="image-dictionary{% if grouping != nil %} group-by-{{ grouping }}{% endif %}">
  <div class="image-dictionary__centering-wrapper">

    {% for def in definitions %}
    <div class="image-dictionary__definition-block">
      <div class="image-dictionary__image">
        <img src="{{ def.image }}" alt="{{ def.text }}">
      </div>
      {% if def.hover_image != nil %}
      <div class="image-dictionary__hover-image">
        <img src="{{ def.hover_image }}" alt="{{ def.text }}">
      </div>
      {% endif %}
      <div class="image-dictionary__text">
        {{ def.text }}
      </div>
    </div>
    {% endfor %}

  <div class="clear"></div>
  </div>

</section>
