{% comment %}
Output: image(s) with caption underneath
Parameters:
- image: url
- caption: string for caption underneath
- reveal_text: (boolean) hide text until it is active
{% endcomment %}


{% assign images = include.image %}

{% assign caption = include.caption %}

<div class="image-with-caption__centering-wrapper">
  <div class="image-with-caption">
    <div class="image-with-caption__image-block">
      {% for image in images %}
      <img src="{{ image }}" alt="{{ caption }}">
      {% endfor %}
    </div>

    {% if include.reveal_text %}
      <div class="image-with-caption__caption-block -reveal" tabindex="1">
        {{ caption }}
      </div>
    {% else %}
      <div class="image-with-caption__caption-block">
        {{ caption }}
      </div>
    {% endif %}
  </div>
</div>



