---
layout: default
---

<header>
  <h1>{{ page.title }}</h1>
</header>

{% if page.index_duration != "month" %}
 <div>
   {{ page.description }}
 </div>
{% endif %}

{% if page.index_duration == "all" %}
<h2>Indexed by Year:</h2>
{% elsif page.index_duration == "year" %}
<h2>Indexed by Month:</h2>
{% endif %}

{% if page.index_duration == "month" %}
  {% for art in page.artworks reversed %}
    {% include image_index.html page=art %}
  {% endfor %}
{% else %}
  <ul>
    {% assign all_pages = site.pages %}

    {% for sub_index in site.pages %}
    {% if sub_index.index_on == page.dir %}

    <li>
      <span><a href="{{ sub_index.url | prepend: site.baseurl}}">
        {{ sub_index.month }} {{ sub_index.year }}
      </a></span>
    </li>

    {% endif %}
    {% endfor %}
  </ul>
{% endif %}

{% if page.index_duration == "all" %}
  <h2>Most Recent:</h2>
  {% for art in page.artworks limit:3 %}
    {% include image_index.html page=art %}
  {% endfor %}
{% endif %}

