<!DOCTYPE html>
<html>

  {% include head.html %}

  <body {% if page.css_theme != nil %}class="theme-{{page.css_theme}}"{% endif %}>


    <section class="wrapper__page {{page.style}}">

      {% include header.html %}
      {% include sub_nav.html %}

      <div class="wrapper__content {{page.style}}">
      {{ content }}
      </div>

      {% include comments.html %}

      {% include sub_nav.html %}

      {% if page.tags.size > 0 %}
      <footer class="footer__tag-list">
          <span>See more on:</span>

          <ul>
            {% for tag in page.tags %}
            {% capture tag_url %}/tags/#tag-{{tag}}{% endcapture %}
            <li>
              <a href="{{ tag_url | prepend: site.baseurl}}">{{tag}}</a>
            </li>
            {% endfor %}
          </ul>
      </footer>
      {% endif %}

      {% include footer.html %}

    </section>

    {% include analytics.html %}
  </body>
</html>
